[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bdf3"]
	path = bdf3
	url = https://github.com/cran/bdf3
[submodule "rcd3"]
	path = rcd3
	url = https://github.com/cran/rcd3
